.contactTittleContainer {
    margin-top: 60px;
    width: 100vw;
    height: 22vh;
    background-image: url("../photos/contTittle.jpg");
    background-position: bottom;
    text-align: center;
    color: white;
}
.contactTittle {
font-weight: 500;
    font-size: 28px;
    padding-top: 40px;
    margin-bottom: 10px;
}
.contactContent {
    width: 100vw;
    height: 55vh;
    background-image: url("../photos/contBackground.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.contactIconBox {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}
.contactItemTittle {
    margin-top: 5px;
}
.contactItemText {
    padding-left: 20px;
}